[Desktop Entry]
Name=Helium
GenericName=Web Browser
Exec=helium-browser %U
Icon=helium-browser
Terminal=false
Type=Application
Categories=Network;WebBrowser;
Keywords=Chrome;Browser;Arc;Chromium;Web;Internet;Google;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
